@import "_variables.less";
@import "_menu.less";





body {
  margin: 0;
  font-family:"Lato", sans-serif;
  font-size:16px;
  color: @color-text-dark;
}


@media screen and (max-width: 800px) {
  .travel-map {
    flex-flow: column nowrap;
  }
}

//.active {
//  //background-color: rgba(255, 64, 64, 0.3);
//  background-color: rgba(255, 255, 255, 0.5);
//
//}

header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  z-index: 3000;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  flex-flow: row nowrap;
  //background-color: transparent;
  background-color: @color-background-light;

  h1 {
    margin: 0;
    vertical-align: middle;
    font-size: 1.5em;
    &::before {
      content: '';
      display: inline-block;
      width: 40px;
      height: 40px;
      vertical-align: middle;
      background-image: url("../images/logotest.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

//
//nav {
//  text-transform: uppercase;
//  * {
//    padding: 0;
//    margin: 0;
//  }
//  .search {
//    margin: 5px 0px 5px 15px;
//    border-radius: 50%;
//    background-color: #E9565A;
//    padding: 10px;
//    fill: @color-text-light;
//    transition: 0.2s linear;
//    & polygon {
//      display: none;
//    }
//    &__bg {
//      position: absolute;
//      left: 50%;
//      top: 50%;
//      width: 100%;
//      height: 100%;
//      border-radius: 50%;
//      background: #F63;
//      transition: all $searchAT $easing;
//      transform: translate3d(-50%,-50%,0);
//      will-change: transform;
//
//
//    }
//    &:hover {
//      background-color: @color-main;
//      .search__bg {
//        transform: translate3d(-50%,-50%,0) scale(100);
//      }
//    }
//
//
//  }
//  ul {
//    list-style: none;
//    &:first-child {
//      display: flex;
//      flex-flow: row nowrap;
//      justify-content: center;
//      align-items: center;
//    }
//    li {
//      position: relative;
//      &:hover > ul{
//        display: block;
//      }
//      a {
//        color: @color-text-light;
//        display: block;
//        width: 100%;
//        padding: 15px;
//        box-sizing: border-box;
//        text-decoration: none;
//        text-shadow: 1px 1px 3px @color-additional;
//      }
//      ul {
//        position: absolute;
//        top: 100%;
//        left: 0;
//        display: none;
//        transition: 3s linear;
//        min-width: 150px;
//        li ul{
//          position: absolute;
//          top: 0;
//          left: 100%;
//        }
//      }
//    }
//  }
//
//}


.travel-map {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 40px 20px;
}





.destinations {
  text-align: center;
  width: 30%;
}

.destinations-all {
  padding:10px;
  * {
    margin:0;
    padding:0;
  }
  ul {
    list-style:none;
    li {
      margin:0 0 2px;
    }
  }
  a {
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: @color-text-dark;
  }
  [type=checkbox] {
    display:none;
    &:checked ~ label  {
      color: @color-text-light;
      background-color: @color-additional;
      ~ .content {
        height: auto;
        padding: 10px;
        border:1px solid @color-additional;
      }
    }

  }
  label {
    display:block;
    border:1px solid @color-additional;
    cursor:pointer;
    padding: 10px;
    &:hover {
      color: @color-text-light;
      background-color: @color-additional;
    }
  }
  .content {
    height: 0;
    overflow:hidden;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
  }
}



footer {
  position: relative;
  padding: 9px;
  text-align: center;
  color: #f0f0f0;
  font-size: 2em;
  background-color: #e9565a;
  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 46%;
    margin: -49px 0;
    padding: 23px;
    border: 16px solid white;
    border-radius: 50%;
    text-align: center;
    background-image: url(../images/location-pointer.png);
    background-color: #e9565a;
    background-repeat: no-repeat;
    background-size: 55%;
    background-position: center;
  }
  h3 {
    margin: 30px 0;
    font-size: 0.9em;
  }
}


/*
start SCROLL EFFECT / PARALLAX
 */

.parallax-fullscreen{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 99vh;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  //&::before {
  //  content: '';
  //  position: absolute;
  //  top: 0;
  //  bottom: 0;
  //  width: 100%;
  //  background-color: rgba(255,255,255,0.2);
  //}

  /* if you wonna remove the parallax effect, then add scroll to background-attachment, as
  fixed=parallax
  scroll=fixed
   */

  background-attachment:fixed;


  .pretext{
    z-index: 30;
    padding:20px;
    text-align:center;
    font-size:27px;
    letter-spacing:8px;
    text-transform:uppercase;
    background-color: @color-main;
    color: @color-text-light;
  }
}

/*
end SCROLL EFFECT / PARALLAX
 */


.image1{
  background-image:  url('../images/paralax1.JPG');
}

.image2{
  background-image: url('../images/paralax2.JPG');
}


/*MAP*/

#vmap {
  width: 70%;
  height: 500px;

  svg {
    width: 100%;
    height: 100%;
    overflow: visible;
    g {
      transform: scale(0.9);
    }
  }
}

.jqvmap-label {
  position: absolute;
  display: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: @color-additional;
  color: white;
  font-size: smaller;
  padding: 5px;
  pointer-events:none;
}
.jqvmap-region
{
  cursor: pointer;
}




/*! Gray v1.6.0 (https://github.com/karlhorky/gray) | MIT */
.grayscale {
  /* Firefox 10-34 */
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='saturate' values='0'/></filter></svg>#grayscale");

  /*
    Chrome 19+,
    Safari 6+,
    Safari 6+ iOS,
    Opera 15+
  */
  -webkit-filter: grayscale(1);

  /* Firefox 35+ */
  filter: grayscale(1);

  /* IE 6-9 */
  filter: gray;
}

.grayscale.grayscale-fade {
  transition: filter .5s;
}

/* Webkit hack until filter is unprefixed */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .grayscale.grayscale-fade {
    -webkit-transition: -webkit-filter .5s;
    transition:         -webkit-filter .5s;
  }
}

.grayscale.grayscale-off,
.grayscale.grayscale-fade:hover {
  -webkit-filter: grayscale(0);
  filter:         grayscale(0);
}

/* Background element */
.grayscale.grayscale-replaced {
  -webkit-filter: none;
  filter:         none;
}

.grayscale.grayscale-replaced > svg {
  -webkit-transition: opacity .5s ease;
  transition:         opacity .5s ease;
  opacity: 1;
}

.grayscale.grayscale-replaced.grayscale-off > svg,
.grayscale.grayscale-replaced.grayscale-fade:hover > svg {
  opacity: 0;
}


#search-box {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1098;
  background-color: white;
  display: none;
}

.search-click {
  font-size: 42px;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  border: 0;
  color: @color-text-dark;
  text-align: center;
}

.search-click:active, .search-click:hover, .search-click:focus {
  outline: 0;    outline-offset: 0;
}

